# - name: Install additional packages for Jobe
#   ansible.builtin.command:
#     cmd: "docker exec jobe_elearn bash -c 'apt install -y curl cabal-install ghc swi-prolog gcc-multilib libwww-perl python-is-python3 && pip3 install moodlepy mysql-connector-python requests urllib3'"
#   become: true


- name: Update apt and install required packages inside container
  command: >
    docker exec jobe_elearn bash -c
    "apt-get update &&
     apt-get install -y curl ghc cabal-install swi-prolog python3-pip &&
     pip3 install --no-cache-dir --break-system-packages moodlepy mysql-connector-python requests urllib3"
  become: true

#   curl is already the newest version (8.5.0-2ubuntu10.6).
# ghc is already the newest version (9.4.7-3).
# cabal-install is already the newest version (3.8.1.0-1).
# swi-prolog is already the newest version (9.0.4+dfsg-3.1ubuntu4).
# python3-pip is already the newest version (24.0+dfsg-1ubuntu1.3).
# 0 upgraded, 0 newly installed, 0 to remove and 1 not upgraded.
# error: externally-managed-environment

# × This environment is externally managed
# ╰─> To install Python packages system-wide, try apt install
#     python3-xyz, where xyz is the package you are trying to
#     install.
    
#     If you wish to install a non-Debian-packaged Python package,
#     create a virtual environment using python3 -m venv path/to/venv.
#     Then use path/to/venv/bin/python and path/to/venv/bin/pip. Make
#     sure you have python3-full installed.
    
#     If you wish to install a non-Debian packaged Python application,
#     it may be easiest to use pipx install xyz, which will manage a
#     virtual environment for you. Make sure you have pipx installed.
    
#     See /usr/share/doc/python3.12/README.venv for more information.

# note: If you believe this is a mistake, please contact your Python installation or OS distribution provider. You can override this, at the risk of breaking your Python installation or OS, by passing --break-system-packages.
# hint: See PEP 668 for the detailed specification.
